/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 23, 2019, 12:10:12 AM
    Author     : Henry
*/


.chart {
    -fx-padding: 0px;
    -fx-background-color:  transparent;

}

.chart-content {
    -fx-padding: 0px;
    -fx-background-color:  white;
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
    -fx-stroke-width: 0px;

}

.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
    -fx-stroke-width: 0px;
}

.chart-horizontal-zero-line  {
    -fx-stroke: transparent;
    -fx-stroke-width: 0px;
}

.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 0px;
    -fx-pref-width: 0;
    -fx-opacity: 0;
}


.axis{
    -fx-padding: 1.5;
    -fx-start-margin: 1.5;
    -fx-end-margin: 1.5;
    -fx-gap-start-and-end: false;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-alternative-row-fill {
    -fx-fill: white;
    -fx-stroke: transparent;
    -fx-stroke-width: 10;
}

.chart-alternative-column-fill {
    -fx-fill: white;
    -fx-stroke: transparent;
    -fx-stroke-width: 10;
}

/*
.chart-title {
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.axis:top {
    -fx-border-color: transparent transparent transparent transparent;
}

.axis:right {
    -fx-border-color: transparent transparent transparent transparent;
}

.axis:bottom {
    -fx-border-color: transparent transparent transparent transparent;
}

.axis:left {
    -fx-border-color: transparent transparent transparent transparent;
}

.axis-label {
  -fx-text-fill: transparent;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
*/