.button{
    -fx-border-width:0.5px;
    -fx-border-color:#000000;
    -fx-border-radius:3;
}
.button:hover{
    -fx-background-color:white;
    -fx-text-fill: red;
}

.button:hover .glyph-icon{
    -fx-fill: red;
}